@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 41px;
    justify-content: center;
    bottom: 0;
    width: 100%;
    min-height: 67px;
    align-items: center;
    flex-shrink: 0;
}

.footer_item {
    color: rgba(18, 18, 18, 0.80);
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer_item:hover:nth-child(1) {
    color: #111;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
}

.footer_item:hover:nth-child(3) {
    color: #111;
    text-decoration: underline;
    transition: 0.3s;
}

@media (max-width: 850px) {
    .footer_item {
        text-decoration: underline;
    }

    .footer_item:nth-child(2) {
        text-decoration: none;
    }


    .footer {
        padding: 20px;
        gap: 30px;
    }

    .footer_item {
        font-size: 16px;
    }
}

@media (max-width: 565px) {
    .footer {
        gap: 20px;
    }

    .footer_item {
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .footer_item:nth-child(2) {
        display: none;
    }

    .footer {
        flex-direction: column;
        gap: 5px;
        box-sizing: border-box;
        border-top: 1px solid #999999;
    }
}