@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 41px;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 67px;
    align-items: center;
    flex-shrink: 0;
}

.footer_item{
    color: rgba(18, 18, 18, 0.80);
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}