@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

header {
    position: relative;
}

.header-logo {
    width: 256px;
    height: 42px;
}

.header-logo.logo-dark {
    background-image: url(/img/logo-dark.png);
    background-size: cover;
    background-position: center center;
}

.header-logo.logo-light {
    background-image: url(/img/logo-light.png);
    background-size: cover;
    background-position: center center;
}

.burger_fon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0;
    z-index: 1000;
}

.burger-navigation {
    display: none;
}

.burger-navigation.active {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.burger_btn {
    display: none;
    width: 33px;
    height: 27px;
    background-image: url(/img/burger.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.burger-navigation_container {
    position: absolute;
    right: 0;
    top: 0;
    width: 70vw;
    height: 100vh;
    background-color: #FFF;
    z-index: 1000;
}

.burger-inside {
    display: flex;
    padding: 90px 40px;
    justify-content: center;
}

.burger-close_btn {
    width: 24px;
    height: 26px;
    background-image: url(/img/burger-close.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
}

.burger_nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.burger_nav-links span {
    color: #000;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 65px 110px 65px 110px;
    max-width: 1920px;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

span {
    color: #000;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

span:hover, .nav-link.logo-light span:hover {
    color: #012AE4;
    transition: 0.1s ease-in-out;
}

.nav-link.logo-light span{
    color: #FFF;
}

@media (max-width: 1480px) {
    .header {
        gap: 20px;
        padding: 40px 40px 60px 40px;
    }

}

@media (max-width: 1024px) {
    .nav-links {
        gap: 25px;
    }

    .header a {
        max-width: 250px;
    }
}

@media (max-width: 850px) {
    .navigation {
        display: none;
    }

    .burger_btn {
        display: flex;
    }

    .header {
        padding: 40px 20px;
    }
}

@media (max-width: 600px) {
    .burger-navigation-container {
        width: 60vw;
    }
}

@media (max-width: 420px) {
    .header-logo {
        width: 204px;
        height: 34px;
    }

    .burger_btn {
        width: 27px;
        height: 22px;
    }
}

@media (max-width: 400px) {
    .burger_nav-links{
        gap: 15px;
    }
    .burger_nav-links span{
        font-size: 18px;
    }
}

@media screen and (max-width: 340px) {
    .header-logo {
        width: 173px;
        height: 29px;
    }

    .burger_btn {
        width: 22px;
        height: 18px;
    }

    .header {
        padding: 15px 15px;
    }
}