@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 65px 110px 101px 110px;
    max-width: 1920px;
    width: 100%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

span{
    color: #000;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}