@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.header-logo {
    width: 250px;
    height: 42px;
}

.header-logo.logo-dark {
    background-image: url(/img/logo-dark.png);
    background-size: cover;
    background-position: center center;
}

.header-logo.logo-light {
    background-image: url(/img/logo-light.png);
    background-size: cover;
    background-position: center center;
}

.burger-navigation {
    position: relative;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 500px;
    background-color: #cccccc;
    z-index: 1000;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
}

.burger-navigation.active {
    display: flex;
}

.burger_btn {
    display: none;
    width: 33px;
    height: 27px;
    background-image: url(/public/img/burger.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.burger-navigation_container {
    display: flex;
    padding: 40px 40px;
}

.burger-close_btn {
    width: 30px;
    height: 30px;
    background-image: url(/public/img/burger-close.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

.burger_nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 65px 110px 101px 110px;
    max-width: 1920px;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

span {
    color: #000;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}



@media (max-width: 1480px) {
    .header {
        gap: 20px;
        padding: 40px 40px 60px 40px;
    }

}

@media (max-width: 1024px) {
    .nav-links {
        gap: 25px;
    }

    .header a {
        max-width: 250px;
    }
}

@media (max-width: 850px) {
    .navigation {
        display: none;
    }

    .burger_btn {
        display: flex;
    }

    .header {
        padding: 40px 20px 40px 20px;
    }
}

@media (max-width: 600px) {
    .burger-navigation {
        width: 60vw;
    }
}

@media (max-width: 420px) {
    .header-logo {
        width: 204px;
        height: 34px;
    }
    .burger_btn{
        width: 27px;
        height: 22px;
    }
}