@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gunterz';
    src: url('/fonts/Gunterz-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

main {
    flex: 1 0 auto;
}

body {
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rating-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
    flex: 1 0 auto;
}

.rating_main {
    display: flex;
    flex-direction: column;
    max-width: 1370px;
    margin: 0 auto;
    width: 100%;
}

.rating_headline {
    display: flex;
    color: var(--Black, #121212);
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 58px;
}

.rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    padding-bottom: 40px;
}

.load_button {
    color: #012AE4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #012AE4;
    align-self: center;
}