@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gunterz';
    src: url('/fonts/Gunterz-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

main {
    flex: 1 0 auto;
}

body {
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rating-container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    flex: 1 0 auto;
}

.rating_main {
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
}

.rating_headline {
    display: flex;
    color: var(--Black, #121212);
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 58px;
}

.rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    padding-bottom: 40px;
}

.load_button {
    color: #012AE4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #012AE4;
    align-self: center;
}

@media (max-width: 1480px) {
    .rating {
        padding: 0 40px;
        max-width: 100%;
    }
}

@media (min-width: 1077px) {
    .home-rating_headline .small-name {
        display: none;
    }
}

@media (max-width: 850px) {
    .rating {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .rating {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .home-rating_headline,
    .home-rating_headline span {
        font-size: 42px;
        max-width: 328px;
        margin-bottom: 45px;
    }

    .home-rating_headline:hover {
        max-width: 357px;
    }
}
@media (max-width: 380px) {
    .rating{
        gap: 15px;
    }
}