@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Roman.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeueCyr-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gunterz';
    src: url('/fonts/Gunterz-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.header {
    z-index: 1;
}

.header.logo-light {
    margin-bottom: 10vw;
}

.school {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1886px;
}

.wall {
    display: flex;
    position: absolute;
    flex-direction: row;
    max-width: 1886px;
    max-height: 300px;
    height: 100%;
    background-image: url(/img/wall.png);
    background-size: cover;
    background-position: top center;
    z-index: 0;
    border-radius: 2.083vw;
    align-items: flex-end;
    top: 17px;
    left: 17px;
    right: 17px;
}

.wall::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    /* высота градиента */
    background: linear-gradient(180deg, rgba(1, 42, 228, 0.00) 0%, #012AE4 100%);
    border-radius: 0 0 2.083vw 2.083vw;
    pointer-events: none;
    z-index: 1;
}

.school-container {
    display: flex;
    z-index: 100;
    max-width: 1405px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.school_nr {
    display: flex;
    flex-direction: row;
    max-width: 1405px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.823vw;
    gap: 0.781vw;
}

.school_main-name {
    display: flex;
    color: var(--Background-white, #F5F5F5);
    font-family: Gunterz;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5vw;
    z-index: 2;
}

.school_main-rating {
    display: flex;
    align-items: center;
    padding: 0.521vw 0.781vw 0.521vw 1.979vw;
    background-image: url(/img/star2.svg);
    background-size: 0.938vw;
    background-repeat: no-repeat;
    background-position: left 0.781vw center;
    box-sizing: border-box;
    border-radius: 2.083vw;
    background-color: #012AE4;
    color: var(--Background-white, #F5F5F5);
    font-family: "Helvetica Neue" sans-serif;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25vw;
    z-index: 2;
    max-height: 1.979vw;
}

.school_general {
    display: flex;
    flex-direction: column;
    margin-bottom: 5.052vw;
}

.school_profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 5.052vw;
}

.school_order {
    display: flex;
    flex-direction: column;
    margin-bottom: 5.052vw;
}

.school_society{
    display: flex;
    flex-direction: column;
    margin-bottom: 5.052vw;
}


.school_section-headline {
    color: var(--Black, #121212);
    font-family: Gunterz;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875vw;
    margin-bottom: 1.563vw;
}

.school_blocks {
    display: flex;
    flex-direction: row;
    gap: 1.198vw;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0 calc(-50vw + 50%);
    padding: 0 calc(50vw - 50%);
}

.school_block {
    display: flex;
    flex-direction: column;
    height: 10.417vw;
    min-width: 33.594vw;
    padding: 2.083vw 1.563vw;
    align-items: flex-start;
    justify-content: center;
    gap: 0.781vw;
    border-radius: 1.563vw;
    background: var(--Background-white, #F5F5F5);
}

.school_block:nth-child(1) {
    background: var(--Accent, #012AE4);
}

.school_block-headline {
    color: rgba(18, 18, 18, 0.80);
    font-family: "Helvetica Neue";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25vw;
    margin-bottom: 0.521vw;
}

.school_block-one .school_block-headline {
    color: rgba(245, 245, 245, 0.80);
}

.school_block-text {
    color: var(--Black, #121212);
    font-family: "Helvetica Neue";
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667vw;
}

.school_block-one .school_block-text {
    color: var(--Background-white, #F5F5F5);
}

.hpd {
    padding-left: 2.344vw;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1.563vw;
}

.school_block:nth-child(1) .hpd {
    background-image: url(/img/geo2.svg);
}

.school_block:nth-child(2) .hpd {
    background-image: url(/img/website.svg);
}

.school_block:nth-child(3) .hpd {
    background-image: url(/img/students.svg);
}

.mini_blocks{
    display: flex;
    flex-direction: column;
    gap: 1.354vw;
}

.mini_block {
    display: flex;
    padding: 0 1.563vw;
    margin: 0.521vw 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.781vw;
    border-left: 2px solid #012AE4;
}

.mini_block-headline {
    color: rgba(18, 18, 18, 0.80);
    font-family: "Helvetica Neue";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25vw;
}

.mini_block-text {
    color: #121212;
    font-family: "Helvetica Neue";
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw;
}

@media (max-width: 1625px) {
    .wall {
        height: 20vw;
    }

    .header.logo-light {
        padding-bottom: 8vw;
    }

    .school-container {
        margin: 0;
        padding: 0 110px;
    }

    .school_nr{
        margin: 0;
        padding: 20px 93px;
    }
}

@media (max-width: 1480px) {
    .school-container {
        padding: 0 40px;
    }

    .school_nr{
        margin: 0;
        padding: 20px 23px;
    }
}